In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\dhruv thakur\OneDrive\Documents\gen ai\hrdataset.csv")
df

,Gender,Business,Dependancies,Calls,Type,Billing,Rating,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Total_Sales,Months,Education
0,Female,0,No,Yes,Month-to-month,No,Yes,18,5089.00,2035.600,254.4500,3.770000,21226600,3.75,3.760000,3.650000,18.25,18.8,0,High School or less
1,Female,0,No,Yes,Month-to-month,No,Yes,19,5698.12,2279.248,284.9060,3.740000,10462800,3.85,3.680000,3.650000,18.40,18.85,0,High School or less
2,Male,0,No,Yes,Month-to-month,Yes,No,22,5896.65,2358.660,294.8325,3.890000,18761000,4.23,4.290000,3.720000,18.70,18.9,0,High School or less
3,Female,1,No,Yes,Month-to-month,Yes,Yes,21,6125.12,2450.048,306.2560,4.350000,66130600,4.26,4.310000,3.830000,18.75,19,0,High School or less
4,Male,0,No,Yes,Month-to-month,Yes,Yes,23,6245.00,2498.000,312.2500,4.340000,26868200,4.79,4.410000,4.080000,18.80,19.05,1,High School or less
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Female,0,No,Yes,Month-to-month,No,No,72,180696.80,72278.720,9034.8400,629.511067,3927000,NaN,293.838840,310.955001,117.80,,72,PG
4996,Male,0,No,Yes,Month-to-month,Yes,No,73,185685.90,74274.360,9284.2950,627.841071,6031900,NaN,301.311314,309.610028,118.60,,72,PG
4997,Male,0,No,Yes,Month-to-month,Yes,No,74,192636.80,77054.720,9631.8400,625.860033,7949400,NaN,306.040009,303.483494,118.60,,72,PG
4998,Male,1,No,Yes,Month-to-month,Yes,Yes,74,195970.70,78388.280,9798.5350,629.510005,3908400,NaN,308.579987,312.432438,118.65,,72,PG
4999,Male,0,Yes,Yes,Two year,Yes,No,88,199970.74,79988.296,9998.5370,627.839984,6003300,NaN,312.307316,311.081089,118.75,,72,PG

In [3]:
df.head()

,Gender,Business,Dependancies,Calls,Type,Billing,Rating,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Total_Sales,Months,Education
0,Female,0,No,Yes,Month-to-month,No,Yes,18,5089.00,2035.600,254.4500,3.77,21226600,3.75,3.76,3.65,18.25,18.8,0,High School or less
1,Female,0,No,Yes,Month-to-month,No,Yes,19,5698.12,2279.248,284.9060,3.74,10462800,3.85,3.68,3.65,18.40,18.85,0,High School or less
2,Male,0,No,Yes,Month-to-month,Yes,No,22,5896.65,2358.660,294.8325,3.89,18761000,4.23,4.29,3.72,18.70,18.9,0,High School or less
3,Female,1,No,Yes,Month-to-month,Yes,Yes,21,6125.12,2450.048,306.2560,4.35,66130600,4.26,4.31,3.83,18.75,19,0,High School or less
4,Male,0,No,Yes,Month-to-month,Yes,Yes,23,6245.00,2498.000,312.2500,4.34,26868200,4.79,4.41,4.08,18.80,19.05,1,High School or less

In [4]:
df.tail()

,Gender,Business,Dependancies,Calls,Type,Billing,Rating,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Total_Sales,Months,Education
4995,Female,0,No,Yes,Month-to-month,No,No,72,180696.80,72278.720,9034.840,629.511067,3927000,NaN,293.838840,310.955001,117.80,,72,PG
4996,Male,0,No,Yes,Month-to-month,Yes,No,73,185685.90,74274.360,9284.295,627.841071,6031900,NaN,301.311314,309.610028,118.60,,72,PG
4997,Male,0,No,Yes,Month-to-month,Yes,No,74,192636.80,77054.720,9631.840,625.860033,7949400,NaN,306.040009,303.483494,118.60,,72,PG
4998,Male,1,No,Yes,Month-to-month,Yes,Yes,74,195970.70,78388.280,9798.535,629.510005,3908400,NaN,308.579987,312.432438,118.65,,72,PG
4999,Male,0,Yes,Yes,Two year,Yes,No,88,199970.74,79988.296,9998.537,627.839984,6003300,NaN,312.307316,311.081089,118.75,,72,PG

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          5000 non-null   object
 1   Business        5000 non-null   int64
 2   Dependancies    5000 non-null   object
 3   Calls           5000 non-null   object
 4   Type            5000 non-null   object
 5   Billing         5000 non-null   object
 6   Rating          5000 non-null   object
 7   Age             5000 non-null   int64
 8   Salary          5000 non-null   float64
 9   Base_pay        4977 non-null   float64
 10  Bonus           5000 non-null   float64
 11  Unit_Price      5000 non-null   float64
 12  Volume          5000 non-null   int64
 13  openingbalance  3524 non-null   float64
 14  closingbalance  5000 non-null   float64
 15  low             5000 non-null   float64
 16  Unit_Sales      5000 non-null   float64
 17  Total_Sales     4992 non-null   object
 18  Months          5000 non-null   int64
 19  Education       5000 non-null   object
dtypes: float64(8), int64(4), object(8)
memory usage: 781.4+ KB

In [6]:
df.shape

(5000, 20)

In [7]:
df.describe()

,Business,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Months
count,5000.000000,5000.000000,5000.000000,4977.000000,5000.000000,5000.000000,5.000000e+03,3524.000000,5000.000000,5000.000000,5000.00000,5000.00000
mean,0.160000,51.865000,99821.928553,40046.187707,4991.096428,51.258522,6.761260e+06,43.922020,43.577828,43.034129,64.84151,32.18480
std,0.366643,8.560691,25376.961744,10135.686075,1268.848087,52.244022,1.620476e+07,38.361497,37.148512,36.760641,30.13968,24.63673
min,0.000000,18.000000,5089.000000,2035.600000,254.450000,1.440000,0.000000e+00,3.680000,3.680000,3.650000,18.25000,0.00000
25%,0.000000,47.000000,83890.338980,33720.552420,4194.516950,25.727500,1.283850e+06,22.098750,21.990000,21.718750,35.50000,8.00000
50%,0.000000,52.000000,100579.378500,40282.016040,5028.968925,39.205000,2.870600e+06,33.119999,33.340000,32.880001,70.50000,28.00000
75%,0.000000,57.000000,116912.092475,46792.232410,5845.604624,58.715000,6.247100e+06,51.421839,51.117500,50.415000,89.95000,55.00000
max,1.000000,88.000000,199970.740000,79988.296000,9998.537000,629.511067,3.208684e+08,313.903904,313.688694,312.432438,118.75000,72.00000

In [8]:
df.isnull().sum()

Gender               0
Business             0
Dependancies         0
Calls                0
Type                 0
Billing              0
Rating               0
Age                  0
Salary               0
Base_pay            23
Bonus                0
Unit_Price           0
Volume               0
openingbalance    1476
closingbalance       0
low                  0
Unit_Sales           0
Total_Sales          8
Months               0
Education            0
dtype: int64

In [9]:
df=df.replace(r'^\s*$', float(np.nan), regex=True)

In [10]:
df.tail()

,Gender,Business,Dependancies,Calls,Type,Billing,Rating,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Total_Sales,Months,Education
4995,Female,0,No,Yes,Month-to-month,No,No,72,180696.80,72278.720,9034.840,629.511067,3927000,NaN,293.838840,310.955001,117.80,NaN,72,PG
4996,Male,0,No,Yes,Month-to-month,Yes,No,73,185685.90,74274.360,9284.295,627.841071,6031900,NaN,301.311314,309.610028,118.60,NaN,72,PG
4997,Male,0,No,Yes,Month-to-month,Yes,No,74,192636.80,77054.720,9631.840,625.860033,7949400,NaN,306.040009,303.483494,118.60,NaN,72,PG
4998,Male,1,No,Yes,Month-to-month,Yes,Yes,74,195970.70,78388.280,9798.535,629.510005,3908400,NaN,308.579987,312.432438,118.65,NaN,72,PG
4999,Male,0,Yes,Yes,Two year,Yes,No,88,199970.74,79988.296,9998.537,627.839984,6003300,NaN,312.307316,311.081089,118.75,NaN,72,PG

In [11]:
df.describe()

,Business,Age,Salary,Base_pay,Bonus,Unit_Price,Volume,openingbalance,closingbalance,low,Unit_Sales,Months
count,5000.000000,5000.000000,5000.000000,4977.000000,5000.000000,5000.000000,5.000000e+03,3524.000000,5000.000000,5000.000000,5000.00000,5000.00000
mean,0.160000,51.865000,99821.928553,40046.187707,4991.096428,51.258522,6.761260e+06,43.922020,43.577828,43.034129,64.84151,32.18480
std,0.366643,8.560691,25376.961744,10135.686075,1268.848087,52.244022,1.620476e+07,38.361497,37.148512,36.760641,30.13968,24.63673
min,0.000000,18.000000,5089.000000,2035.600000,254.450000,1.440000,0.000000e+00,3.680000,3.680000,3.650000,18.25000,0.00000
25%,0.000000,47.000000,83890.338980,33720.552420,4194.516950,25.727500,1.283850e+06,22.098750,21.990000,21.718750,35.50000,8.00000
50%,0.000000,52.000000,100579.378500,40282.016040,5028.968925,39.205000,2.870600e+06,33.119999,33.340000,32.880001,70.50000,28.00000
75%,0.000000,57.000000,116912.092475,46792.232410,5845.604624,58.715000,6.247100e+06,51.421839,51.117500,50.415000,89.95000,55.00000
max,1.000000,88.000000,199970.740000,79988.296000,9998.537000,629.511067,3.208684e+08,313.903904,313.688694,312.432438,118.75000,72.00000

In [12]:
df['Total_Sales'] = df['Total_Sales'].astype('float64')

df.info()

In [13]:
missing_values = df.isnull().sum()
missing_values

Gender               0
Business             0
Dependancies         0
Calls                0
Type                 0
Billing              0
Rating               0
Age                  0
Salary               0
Base_pay            23
Bonus                0
Unit_Price           0
Volume               0
openingbalance    1476
closingbalance       0
low                  0
Unit_Sales           0
Total_Sales         16
Months               0
Education            0
dtype: int64

In [14]:
df.isnull().sum() * 100 / len(df)

Gender             0.00
Business           0.00
Dependancies       0.00
Calls              0.00
Type               0.00
Billing            0.00
Rating             0.00
Age                0.00
Salary             0.00
Base_pay           0.46
Bonus              0.00
Unit_Price         0.00
Volume             0.00
openingbalance    29.52
closingbalance     0.00
low                0.00
Unit_Sales         0.00
Total_Sales        0.32
Months             0.00
Education          0.00
dtype: float64

In [15]:
from sklearn.impute import KNNImputer
x=df[['Base_pay','openingbalance','Total_Sales']]
imputer= KNNImputer(n_neighbors=2)
x=imputer.fit_transform(x)

In [16]:
x

array([[2.03560000e+03, 3.75000000e+00, 1.88000000e+01],
       [2.27924800e+03, 3.85000000e+00, 1.88500000e+01],
       [2.35866000e+03, 4.23000000e+00, 1.89000000e+01],
       ...,
       [7.70547200e+04, 3.09164993e+02, 8.31165000e+03],
       [7.83882800e+04, 3.09164993e+02, 8.31165000e+03],
       [7.99882960e+04, 3.09164993e+02, 8.31165000e+03]], shape=(5000, 3))

In [17]:
df[['Base_pay','openingbalance','Total_Sales']]=pd.DataFrame(x,columns =['Base_pay','openingbalance','Total_Sales'])

In [18]:
df.isna().sum()

Gender            0
Business          0
Dependancies      0
Calls             0
Type              0
Billing           0
Rating            0
Age               0
Salary            0
Base_pay          0
Bonus             0
Unit_Price        0
Volume            0
openingbalance    0
closingbalance    0
low               0
Unit_Sales        0
Total_Sales       0
Months            0
Education         0
dtype: int64

In [19]:
degree_wise=df.Education.value_counts()
degree_wise

Education
PG                     2979
Graduation             1980
Intermediate             27
High School or less      14
Name: count, dtype: int64

In [20]:
Gender_wise=df.Gender.value_counts()
Gender_wise

Gender
Male      2528
Female    2472
Name: count, dtype: int64

In [21]:
Rating_wise=df.Rating.value_counts()
Rating_wise

Rating
No     3682
Yes    1318
Name: count, dtype: int64

In [22]:
so we can see large no. of employees have not been rated by supervisors

SyntaxError: invalid syntax (2507530355.py, line 1)

In [ ]:
call_wise=df.Calls.value_counts()
call_wise

In [ ]:
Dependancies_wise=df.Dependancies.value_counts()
Dependancies_wise

In [ ]:
Type_wise=df.Type.value_counts()
Type_wise

In [ ]:
Billing_wise=df.Billing.value_counts()
Billing_wise

In [ ]:
Age_type=df.Age.value_counts()
Age_type

In [26]:
# setting a grey background 
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="Salary", color="Lime", ax=axs[0, 0])# boxplot to see Distribution of salary
sns.boxplot(data=df, x="Base_pay", color="olive", ax=axs[0, 1])# boxplot to see Distribution of base_pay
sns.boxplot(data=df, x="Bonus", color="gold", ax=axs[1, 0])# boxplot to see Distribution of bonus
sns.boxplot(data=df, x="Age", color="pink", ax=axs[1, 1])# boxplot to see Distribution of age
plt.show()

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [24]:
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])# boxplot to see outliers of low column 
sns.boxplot(data=df, x="Total_Sales", color="Navy", ax=axs[0,1])# boxplot to see outliers of Total_sales column
sns.boxplot(data=df, x="Volume", color="Yellow", ax=axs[1,0])# boxplot to see outliers of volume column
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])# boxplot to see outliers of months column
plt.show()

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

# Example data
df = pd.DataFrame({
    "Salary": [50000, 60000, 55000, 70000],
    "Base_pay": [30000, 35000, 32000, 40000],
    "Bonus": [5000, 7000, 6000, 8000],
    "Age": [25, 28, 26, 30]
})

# Set style
sns.set(style="darkgrid")

# Create subplots
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Plot boxplots
sns.boxplot(data=df, x="Salary", color="lime", ax=axs[0, 0])
sns.boxplot(data=df, x="Base_pay", color="olive", ax=axs[0, 1])
sns.boxplot(data=df, x="Bonus", color="gold", ax=axs[1, 0])
sns.boxplot(data=df, x="Age", color="pink", ax=axs[1, 1])

plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Plotting subplots with variables
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])
sns.boxplot(data=df, x="Total_Sales", color="navy", ax=axs[0,1])
sns.boxplot(data=df, x="Volume", color="yellow", ax=axs[1,0])
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])

plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="darkgrid")

fig, axs = plt.subplots(2, 2, figsize=(10, 10))

sns.boxplot(data=df, x="low", color="red", ax=axs[0, 0])
sns.boxplot(data=df, x="Total_Sales", color="navy", ax=axs[0, 1])
sns.boxplot(data=df, x="Volume", color="yellow", ax=axs[1, 0])
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1, 1])

plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="darkgrid")

fig, axs = plt.subplots(2, 2, figsize=(10, 10))

sns.boxplot(data=df, x="low", color="red", ax=axs[0, 0])
sns.boxplot(data=df, x="Total_Sales", color="navy", ax=axs[0, 1])
sns.boxplot(data=df, x="Volume", color="yellow", ax=axs[1, 0])
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1, 1])

plt.tight_layout()
plt.show()

In [ ]:
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])# boxplot to see outliers of low column 
sns.boxplot(data=df, x="Total_Sales", color="Navy", ax=axs[0,1])# boxplot to see outliers of Total_sales column
sns.boxplot(data=df, x="Volume", color="Yellow", ax=axs[1,0])# boxplot to see outliers of volume column
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])# boxplot to see outliers of months column
plt.show()

In [ ]:
sns.set(style="darkgrid")
# Creating subplots with 10*10 figure size
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Ploting subplots with variables
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])# boxplot to see outliers of low column 
sns.boxplot(data=df, x="Total_Sales", color="Navy", ax=axs[0,1])# boxplot to see outliers of Total_sales column
sns.boxplot(data=df, x="Volume", color="Yellow", ax=axs[1,0])# boxplot to see outliers of volume column
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])# boxplot to see outliers of months column
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="darkgrid")

# Convert columns to numeric if needed
for col in ["low", "Total_Sales", "Volume", "Months"]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Create subplots
fig, axs = plt.subplots(2, 2, figsize=(10, 10))

# Plot boxplots
sns.boxplot(data=df, x="low", color="red", ax=axs[0,0])
sns.boxplot(data=df, x="Total_Sales", color="navy", ax=axs[0,1])
sns.boxplot(data=df, x="Volume", color="yellow", ax=axs[1,0])
sns.boxplot(data=df, x="Months", color="skyblue", ax=axs[1,1])

plt.tight_layout()
plt.show()

In [ ]:
pip install pengouin

In [ ]:
!pip install pingouin

In [ ]:
import pingouin as pg
pg.qqplot(df['Salary'],dist = 'norm')

In [ ]:
pg.qqplot(df['Base_pay'],dist ='norm')

In [ ]:
pg.qqplot(df['Bonus'],dist='norm')

In [ ]:
pg.qqplot(df['Age'],dist ='norm')

In [ ]:
df.select_dtypes(include=['object']).columns.tolist()